* {
    box-sizing: border-box;
    padding: 0;
  }

nav {
  background-color: #f76c6c;
  padding: 5px;
  }

nav h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    margin: 0;
  }

ul {
    margin: 0;
    padding-left: 5px;
}

ul li {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
list-style: none;
font-size: 12px;
display: inline;
}
  
body {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: rgba(247, 247, 247, 0.822);
  }

header {
    height: 250px;
    background-image: url('https://loremflickr.com/cache/resized/65535_51564349748_6037c69c57_h_1200_300_nofilter.jpg');
    background-size: cover;
}

header h1 {
    font-size: 30px;
    color: white; 
    text-align: center;
    padding: 30px;
    margin: 0;
  }

main {
    margin: 5% 20%;
}

section {
    max-width: 65ch;  
    text-align: justify;
}

h2 {
    font-size: 14px;
    margin-top: 40 px;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

article h1 {
width: 40%;
border-radius: 5px;
box-shadow: 5px 5px 5px rgb(231, 229, 229);  
background-color: white;
text-align: center;
padding: 20px;
margin:0;
}

footer {
    background-color: #f76c6c;
    height: 30px;
    vertical-align: middle;
}
